<div id="ContentPlaceHolder1_items">
  <section class="date">
      <div class="date-label">
        <h2><span>10th Jun</span> <span>2012</span></h2>
      </div>
      <article class="story noimg">
        <div class="article-content">
          <h3 class="">
            <a href="/">
              Lorem Ipsum
            </a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate. Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat at.</p>
          <p>Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate.</p>
          <ul class="tags">
            <li class="eng">ENG</li>
            <li class="news">News</li>
          </ul>
        </div>
      </article>
  </section>

  <hr/>

  <section class="date">
      <div class="date-label">
        <h2><span>Thu 14/06</span> <span>2018</span></h2>
      </div>
      <article class="match">
          <h3>
            <a href="/2018/06/14/Russia-vs-Saudi-Arabia/130">
              <span class="left rus"><span>Russia</span></span>
              <span class="vs"> vs </span>
              <span class="right ksa"><span>Saudi Arabia</span></span>
            </ul>
            </a>
          </h3>
          <p class="kickoff"><a href="/2018/06/14/Russia-vs-Saudi-Arabia/130">17:00 <span class="timezone">GMT</span></a></p>
          <div class="article-content">
            <h4><span>Group A</span> <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a></h4>
            <ul class="tags">
              <li class="rus">RUS</li>
              <li class="ksa">KSA</li>
              <li class="group">GROUP A</li>
            </ul>
          </div>
      </article>
  </section>

  <hr/>

  <section class="date">
      <div class="date-label">
        <h2><span>Fri 15/06</span> <span>2018</span></h2>
      </div>
      <article class="match">
          <h3>
            <a href="/">
              <span class="left egy"><span>Egypt</span></span>
              <span class="vs"> vs </span>
              <span class="right ury"><span>Uruguay</span></span>
            </ul>
            </a>
          </h3>
          <p class="kickoff"><a href="/">14:00 <span class="timezone">GMT</span></a></p>
          <div class="article-content">
            <h4><span>Group B</span> <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Central Stadium, Yekaterinburg</a></h4>
            <ul class="tags">
              <li class="ury">URY</li>
              <li class="egy">EGY</li>
              <li class="group">GROUP B</li>
            </ul>
          </div>
      </article>
      <article class="match">
          <h3>
            <a href="/">
              <span class="left mar"><span>Egypt</span></span>
              <span class="vs"> vs </span>
              <span class="right irn"><span>Uruguay</span></span>
            </ul>
            </a>
          </h3>
          <p class="kickoff"><a href="/">14:00 <span class="timezone">GMT</span></a></p>
          <div class="article-content">
            <h4><span>Group B</span> <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Krestovsky Stadium, St. Petersburg</a></h4>
            <ul class="tags">
              <li class="ury">URY</li>
              <li class="egy">EGY</li>
              <li class="group">GROUP B</li>
            </ul>
          </div>
      </article>
      <article class="match">
          <h3>
            <a href="/">
              <span class="left prt"><span>Egypt</span></span>
              <span class="vs"> vs </span>
              <span class="right esp"><span>Uruguay</span></span>
            </ul>
            </a>
          </h3>
          <p class="kickoff"><a href="/">14:00 <span class="timezone">GMT</span></a></p>
          <div class="article-content">
            <h4><span>Group B</span> <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Fisht Olympic Stadium, Sochi</a></h4>
            <ul class="tags">
              <li class="ury">URY</li>
              <li class="egy">EGY</li>
              <li class="group">GROUP B</li>
            </ul>
          </div>
      </article>

  </section>

  <hr/>

  <section class="date">
      <div class="date-label">
        <h2><span>Fri 15/06</span> <span>2018</span></h2>
      </div>
      <article class="result">
          <h3>
            <a href="/">
              <span class="left egy winner"><span>Egypt</span></span>
              <span class="vs"> vs </span>
              <span class="right ury"><span>Uruguay</span></span>
            </ul>
            </a>
          </h3>
          <p class="score"><span>2</span> - <span>0</span></p>
          <div class="article-content">
            <h4>Russia Win After Extra Time</h4>
            <ul class="tags">
              <li class="ury">URY</li>
              <li class="egy">EGY</li>
              <li class="group">GROUP B</li>
            </ul>
          </div>
      </article>
  </section>

  <hr/>

  <section class="date">
      <div class="date-label">
        <h2><span>10th Jun</span> <span>2012</span></h2>
      </div>
      <article class="story">
        <div class="article-content">
          <a class="img-holder" href="/">
            <img src="img/dummy.png" />
          </a>
          <h3 class="">
            <a href="/">
              Lorem Ipsum
            </a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate. Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat at.</p>
          <p>Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate.</p>
          <ul class="tags">
            <li class="eng">ENG</li>
            <li class="news">News</li>
          </ul>
        </div>
      </article>

      <article class="story">
        <div class="article-content">
          <a class="img-holder" href="/">
            <img src="img/dummy.png" />
          </a>
          <h3 class="">
            <a href="/">
              Lorem Ipsum
            </a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate. Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat at.</p>
          <p>Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate.</p>
          <ul class="tags">
            <li class="eng">ENG</li>
            <li class="news">News</li>
          </ul>
        </div>
      </article>

      <article class="story">
        <div class="article-content">
          <a class="img-holder" href="/">
            <img src="img/dummy.png" />
          </a>
          <h3 class="">
            <a href="/">
              Lorem Ipsum
            </a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate. Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat at.</p>
          <p>Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate. Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat at.</p>
          <p>Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus odio ac dapibus vulputate. Pellentesque sed tincidunt ante. Etiam sodales erat felis, nec scelerisque mi placerat at.</p>
          <ul class="tags">
            <li class="eng">ENG</li>
            <li class="news">News</li>
          </ul>
        </div>
      </article>
  </section>

  <hr/>

  <!-- <section>
    <div class="date-label">
      <h2><span>Fri 15/06</span> <span>2018</span></h2>
    </div>
      <article class="match">
          <h3><a href="/2018/06/15/Egypt-vs-Uruguay/131">Egypt vs Uruguay</a></h3>
          <h4>14:00 GMT, Ekaterinburg Stadium, Group A, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/15/Morocco-vs-Iran/132">Morocco vs Iran</a></h3>
          <h4>17:00 GMT, Saint Petersburg Stadium, Group B, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/15/Portugal-vs-Spain/133">Portugal vs Spain</a></h3>
          <h4>20:00 GMT, Fisht Stadium, Group B, </h4>
      </article>
  </section>
  <section>
      <h2>Sat 16/06</h2>
      <article class="match">
          <h3><a href="/2018/06/16/France-vs-Australia/134">France vs Australia</a></h3>
          <h4>12:00 GMT, Kazan Arena, Group C, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/16/Argentina-vs-Iceland/135">Argentina vs Iceland</a></h3>
          <h4>15:00 GMT, Otkrytiye Arena, Group D, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/16/Peru-vs-Denmark/136">Peru vs Denmark</a></h3>
          <h4>18:00 GMT, Saransk Stadium, Group C, </h4>
      </article>
      <article>
          <h3><a href="/2018/06/16/Croatia-vs-Nigeria/137">Croatia vs Nigeria</a></h3>
          <h4>21:00 GMT, Kaliningrad Stadium, Group D, </h4>
      </article>
  </section> -->
</div>
