<div id="ContentPlaceHolder1_items">
  <section class="date">
      <div class="date-label">
        <h2><span>Thu 14/06</span> <span>2018</span></h2>
      </div>
      <article class="match">
          <h3>
            <a href="/2018/06/14/Russia-vs-Saudi-Arabia/130">
              <span class="left rus"><span>Russia</span></span>
              <span class="vs"> vs </span>
              <span class="right ksa"><span>Saudi Arabia</span></span>
            </ul>
            </a>
          </h3>
          <p class="kickoff"><a href="/2018/06/14/Russia-vs-Saudi-Arabia/130">17:00 <span class="timezone">GMT</span></a></p>
          <div class="article-content">
            <h4><a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Group A, </h4>
            <ul class="tags">
              <li>RUS</li>
              <li>KSA</li>
              <li>GROUP A</li>
            </ul>
          </div>
      </article>
  </section>

  <hr/>

  <section>
    <div class="date-label">
      <h2><span>Fri 15/06</span> <span>2018</span></h2>
    </div>
      <article class="match">
          <h3><a href="/2018/06/15/Egypt-vs-Uruguay/131">Egypt vs Uruguay</a></h3>
          <h4>14:00 GMT, Ekaterinburg Stadium, Group A, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/15/Morocco-vs-Iran/132">Morocco vs Iran</a></h3>
          <h4>17:00 GMT, Saint Petersburg Stadium, Group B, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/15/Portugal-vs-Spain/133">Portugal vs Spain</a></h3>
          <h4>20:00 GMT, Fisht Stadium, Group B, </h4>
      </article>
  </section>
  <section>
      <h2>Sat 16/06</h2>
      <article class="match">
          <h3><a href="/2018/06/16/France-vs-Australia/134">France vs Australia</a></h3>
          <h4>12:00 GMT, Kazan Arena, Group C, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/16/Argentina-vs-Iceland/135">Argentina vs Iceland</a></h3>
          <h4>15:00 GMT, Otkrytiye Arena, Group D, </h4>
      </article>
      <article class="match">
          <h3><a href="/2018/06/16/Peru-vs-Denmark/136">Peru vs Denmark</a></h3>
          <h4>18:00 GMT, Saransk Stadium, Group C, </h4>
      </article>
      <article>
          <h3><a href="/2018/06/16/Croatia-vs-Nigeria/137">Croatia vs Nigeria</a></h3>
          <h4>21:00 GMT, Kaliningrad Stadium, Group D, </h4>
      </article>
  </section>
  <!-- <article>
      <h2>Sun 17/06</h2>
      <section>
          <h3><a href="/2018/06/17/Costa-Rica-vs-Serbia/138">Costa Rica vs Serbia</a></h3>
          <h4>14:00 GMT, Samara Stadium, Group E, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/17/Germany-vs-Mexico/139">Germany vs Mexico</a></h3>
          <h4>17:00 GMT, <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Group F, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/17/Brazil-vs-Switzerland/140">Brazil vs Switzerland</a></h3>
          <h4>20:00 GMT, Rostov-on-Don Stadium, Group E, </h4>
      </section>
  </article>
  <article>
      <h2>Mon 18/06</h2>
      <section>
          <h3><a href="/2018/06/18/Sweden-vs-South-Korea/141">Sweden vs South Korea</a></h3>
          <h4>14:00 GMT, Nizhny Novgorod Stadium, Group F, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/18/Belgium-vs-Panama/142">Belgium vs Panama</a></h3>
          <h4>17:00 GMT, Fisht Stadium, Group G, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/18/Tunisia-vs-England/143">Tunisia vs England</a></h3>
          <h4>20:00 GMT, Volgograd Stadium, Group G, </h4>
      </section>
  </article>
  <article>
      <h2>Tue 19/06</h2>
      <section>
          <h3><a href="/2018/06/19/Colombia-vs-Japan/144">Colombia vs Japan</a></h3>
          <h4>14:00 GMT, Saransk Stadium, Group H, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/19/Poland-vs-Senegal/145">Poland vs Senegal</a></h3>
          <h4>17:00 GMT, Krestovsky Stadium, Group H, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/19/Russia-vs-Egypt/146">Russia vs Egypt</a></h3>
          <h4>20:00 GMT, Saint Petersburg Stadium, Group A, </h4>
      </section>
  </article>
  <article>
      <h2>Wed 20/06</h2>
      <section>
          <h3><a href="/2018/06/20/Portugal-vs-Morocco/147">Portugal vs Morocco</a></h3>
          <h4>14:00 GMT, <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Group B, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/20/Uruguay-vs-Saudi-Arabia/148">Uruguay vs Saudi Arabia</a></h3>
          <h4>17:00 GMT, Rostov-on-Don Stadium, Group A, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/20/Iran-vs-Spain/149">Iran vs Spain</a></h3>
          <h4>20:00 GMT, Kazan Arena, Group B, </h4>
      </section>
  </article>
  <article>
      <h2>Thu 21/06</h2>
      <section>
          <h3><a href="/2018/06/21/Denmark-vs-Australia/150">Denmark vs Australia</a></h3>
          <h4>14:00 GMT, Samara Stadium, Group C, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/21/France-vs-Peru/151">France vs Peru</a></h3>
          <h4>17:00 GMT, Ekaterinburg Stadium, Group C, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/21/Argentina-vs-Croatia/152">Argentina vs Croatia</a></h3>
          <h4>20:00 GMT, Nizhny Novgorod Stadium, Group D, </h4>
      </section>
  </article>
  <article>
      <h2>Fri 22/06</h2>
      <section>
          <h3><a href="/2018/06/22/Brazil-vs-Costa-Rica/153">Brazil vs Costa Rica</a></h3>
          <h4>14:00 GMT, Saint Petersburg Stadium, Group E, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/22/Nigeria-vs-Iceland/154">Nigeria vs Iceland</a></h3>
          <h4>17:00 GMT, Volgograd Stadium, Group D, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/22/Serbia-vs-Switzerland/155">Serbia vs Switzerland</a></h3>
          <h4>20:00 GMT, Kaliningrad Stadium, Group E, </h4>
      </section>
  </article>
  <article>
      <h2>Sat 23/06</h2>
      <section>
          <h3><a href="/2018/06/23/Belgium-vs-Tunisia/156">Belgium vs Tunisia</a></h3>
          <h4>14:00 GMT, Otkrytiye Arena, Group G, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/23/South-Korea-vs-Mexico/157">South Korea vs Mexico</a></h3>
          <h4>17:00 GMT, Rostov-on-Don Stadium, Group F, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/23/Germany-vs-Sweden/158">Germany vs Sweden</a></h3>
          <h4>20:00 GMT, Fisht Stadium, Group F, </h4>
      </section>
  </article>
  <article>
      <h2>Sun 24/06</h2>
      <section>
          <h3><a href="/2018/06/24/England-vs-Panama/159">England vs Panama</a></h3>
          <h4>14:00 GMT, Nizhny Novgorod Stadium, Group G, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/24/Japan-vs-Senegal/160">Japan vs Senegal</a></h3>
          <h4>17:00 GMT, Ekaterinburg Stadium, Group H, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/24/Poland-vs-Colombia/161">Poland vs Colombia</a></h3>
          <h4>20:00 GMT, Kazan Arena, Group H, </h4>
      </section>
  </article>
  <article>
      <h2>Mon 25/06</h2>
      <section>
          <h3><a href="/2018/06/25/Uruguay-vs-Russia/162">Uruguay vs Russia</a></h3>
          <h4>16:00 GMT, Samara Stadium, Group A, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/25/Saudi-Arabia-vs-Egypt/163">Saudi Arabia vs Egypt</a></h3>
          <h4>16:00 GMT, Volgograd Stadium, Group A, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/25/Iran-vs-Portugal/164">Iran vs Portugal</a></h3>
          <h4>20:00 GMT, Saransk Stadium, Group B, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/25/Spain-vs-Morocco/165">Spain vs Morocco</a></h3>
          <h4>20:00 GMT, Kaliningrad Stadium, Group B, </h4>
      </section>
  </article>
  <article>
      <h2>Tue 26/06</h2>
      <section>
          <h3><a href="/2018/06/26/Denmark-vs-France/166">Denmark vs France</a></h3>
          <h4>16:00 GMT, <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Group C, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/26/Australia-vs-Peru/167">Australia vs Peru</a></h3>
          <h4>16:00 GMT, Fisht Stadium, Group C, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/26/Nigeria-vs-Argentina/168">Nigeria vs Argentina</a></h3>
          <h4>20:00 GMT, Saint Petersburg Stadium, Group D, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/26/Iceland-vs-Croatia/169">Iceland vs Croatia</a></h3>
          <h4>20:00 GMT, Rostov-on-Don Stadium, Group D, </h4>
      </section>
  </article>
  <article>
      <h2>Wed 27/06</h2>
      <section>
          <h3><a href="/2018/06/27/Mexico-vs-Sweden/170">Mexico vs Sweden</a></h3>
          <h4>16:00 GMT, Ekaterinburg Stadium, Group F, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/27/South-Korea-vs-Germany/171">South Korea vs Germany</a></h3>
          <h4>16:00 GMT, Kazan Arena, Group F, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/27/Serbia-vs-Brazil/172">Serbia vs Brazil</a></h3>
          <h4>20:00 GMT, Otkrytiye Arena, Group E, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/27/Switzerland-vs-Costa-Rica/173">Switzerland vs Costa Rica</a></h3>
          <h4>20:00 GMT, Nizhny Novgorod Stadium, Group E, </h4>
      </section>
  </article>
  <article>
      <h2>Thu 28/06</h2>
      <section>
          <h3><a href="/2018/06/28/Japan-vs-Poland/174">Japan vs Poland</a></h3>
          <h4>16:00 GMT, Volgograd Stadium, Group H, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/28/Senegal-vs-Colombia/175">Senegal vs Colombia</a></h3>
          <h4>16:00 GMT, Samara Stadium, Group H, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/28/Panama-vs-Tunisia/176">Panama vs Tunisia</a></h3>
          <h4>20:00 GMT, Saransk Stadium, Group G, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/28/England-vs-Belgium/177">England vs Belgium</a></h3>
          <h4>20:00 GMT, Kaliningrad Stadium, Group G, </h4>
      </section>
  </article>
  <article>
      <h2>Sat 30/06</h2>
      <section>
          <h3><a href="/2018/06/30/Group-A-Winner-vs-Group-B-Runner-up/178">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Fisht Stadium, Knockout, </h4>
      </section>
      <section>
          <h3><a href="/2018/06/30/Group-C-Winner-vs-Group-D-Runner-up/179">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Kazan Arena, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Sun 01/07</h2>
      <section>
          <h3><a href="/2018/07/01/Group-B-Winner-vs-Group-A-Runner-up/180">TBD vs TBD</a></h3>
          <h4>16:00 GMT, <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Knockout, </h4>
      </section>
      <section>
          <h3><a href="/2018/07/01/Group-D-Winner-vs-Group-C-Runner-up/181">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Nizhny Novgorod Stadium, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Mon 02/07</h2>
      <section>
          <h3><a href="/2018/07/02/Group-E-Winner-vs-Group-F-Runner-up/182">TBD vs TBD</a></h3>
          <h4>16:00 GMT, Samara Stadium, Knockout, </h4>
      </section>
      <section>
          <h3><a href="/2018/07/02/Group-G-Winner-vs-Group-H-Runner-up/183">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Rostov-on-Don Stadium, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Tue 03/07</h2>
      <section>
          <h3><a href="/2018/07/03/Group-F-Winner-vs-Group-E-Runner-up/184">TBD vs TBD</a></h3>
          <h4>16:00 GMT, Saint Petersburg Stadium, Knockout, </h4>
      </section>
      <section>
          <h3><a href="/2018/07/03/Group-H-Winner-vs-Group-G-Runner-up/185">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Otkrytiye Arena, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Fri 06/07</h2>
      <section>
          <h3><a href="/2018/07/06/Quarter-Final-1/186">TBD vs TBD</a></h3>
          <h4>16:00 GMT, Nizhny Novgorod Stadium, Knockout, </h4>
      </section>
      <section>
          <h3><a href="/2018/07/06/Quarter-Final-2/187">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Kazan Arena, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Sat 07/07</h2>
      <section>
          <h3><a href="/2018/07/07/Quarter-Final-3/188">TBD vs TBD</a></h3>
          <h4>16:00 GMT, Samara Stadium, Knockout, </h4>
      </section>
      <section>
          <h3><a href="/2018/07/07/Quarter-Final-4/189">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Fisht Stadium, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Tue 10/07</h2>
      <section>
          <h3><a href="/2018/07/10/Semi-Final-1/190">TBD vs TBD</a></h3>
          <h4>20:00 GMT, Saint Petersburg Stadium, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Wed 11/07</h2>
      <section>
          <h3><a href="/2018/07/11/Semi-Final-2/191">TBD vs TBD</a></h3>
          <h4>20:00 GMT, <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Sat 14/07</h2>
      <section>
          <h3><a href="/2018/07/14/3rd-Place-Playoff/192">TBD vs TBD</a></h3>
          <h4>16:00 GMT, Saint Petersburg Stadium, Knockout, </h4>
      </section>
  </article>
  <article>
      <h2>Sun 15/07</h2>
      <section>
          <h3><a href="/2018/07/15/World-Cup-Final/193">TBD vs TBD</a></h3>
          <h4>17:00 GMT, <a href="http://www.stadiumguide.com/luzhniki/" target="_blank">Luzhniki Stadium</a>, Knockout, </h4>
      </section>
  </article> -->
</div>
