<div id="countryFilter" class="country-filter">
  <label for="">Filter:</label>
  <i class="any"></i>
  <select id="countrySelect">
    <option value="any" class="any">Any</option>
    <option value="eng" class="eng">England</option>
    <option value="ksa" class="ksa">Saudi Arabia</option>
    <option value="rus" class="rus">Russia</option>
  </select>
</div>
