<footer>
  <div class="date-nav" data-flickity='{ "groupCells": true }'>
    <div class="carousel-divider"><span>2012</span></div>
    <div class="carousel-cell"><span>02</span> dec</div>
    <div class="carousel-divider"><span>2018</span></div>
    <div class="carousel-cell"><span>14</span> jun</div>
    <div class="carousel-cell"><span>15</span> jun</div>
    <div class="carousel-cell"><span>16</span> jun</div>
    <div class="carousel-cell"><span>17</span> jun</div>
    <div class="carousel-cell"><span>18</span> jun</div>
    <div class="carousel-cell"><span>19</span> jun</div>
    <div class="carousel-cell"><span>22</span> jun</div>
    <div class="carousel-cell"><span>23</span> jun</div>
    <div class="carousel-cell"><span>26</span> jun</div>
    <div class="carousel-cell"><span>27</span> jun</div>
    <div class="carousel-cell"><span>29</span> jun</div>
    <div class="carousel-cell"><span>02</span> jul</div>
    <div class="carousel-cell"><span>05</span> jul</div>
    <div class="carousel-cell"><span>06</span> jul</div>
    <div class="carousel-cell"><span>07</span> jul</div>
    <div class="carousel-cell"><span>09</span> jul</div>
    <div class="carousel-cell"><span>14</span> jul</div>
    <div class="carousel-cell"><span>17</span> jul</div>
    <div class="carousel-cell"><span>18</span> jul</div>
    <div class="carousel-cell"><span>19</span> jul</div>
    <div class="carousel-cell"><span>20</span> jul</div>
    <div class="carousel-cell"><span>22</span> jul</div>
    <div class="carousel-cell"><span>24</span> jul</div>
    <div class="carousel-cell"><span>25</span> jul</div>
    <div class="carousel-cell"><span>26</span> jul</div>
    <div class="carousel-cell"><span>28</span> jul</div>
    <div class="carousel-cell"><span>29</span> jul</div>
    <div class="carousel-cell"><span>01</span> aug</div>
    <div class="carousel-cell"><span>03</span> aug</div>
    <div class="carousel-cell"><span>07</span> aug</div>
    <div class="carousel-cell"><span>08</span> aug</div>

    <div class="carousel-cell"><span>14</span> jun</div>
    <div class="carousel-cell"><span>15</span> jun</div>
    <div class="carousel-cell"><span>16</span> jun</div>
    <div class="carousel-cell"><span>17</span> jun</div>
    <div class="carousel-cell"><span>18</span> jun</div>
    <div class="carousel-cell"><span>19</span> jun</div>
    <div class="carousel-cell"><span>22</span> jun</div>
    <div class="carousel-cell"><span>23</span> jun</div>
    <div class="carousel-cell"><span>26</span> jun</div>
    <div class="carousel-cell"><span>27</span> jun</div>
    <div class="carousel-cell"><span>29</span> jun</div>
    <div class="carousel-cell"><span>02</span> jul</div>
    <div class="carousel-cell"><span>05</span> jul</div>
    <div class="carousel-cell"><span>06</span> jul</div>
    <div class="carousel-cell"><span>07</span> jul</div>
    <div class="carousel-cell"><span>09</span> jul</div>
    <div class="carousel-cell"><span>14</span> jul</div>
    <div class="carousel-cell"><span>17</span> jul</div>
    <div class="carousel-cell"><span>18</span> jul</div>
    <div class="carousel-cell"><span>19</span> jul</div>
    <div class="carousel-cell"><span>20</span> jul</div>
    <div class="carousel-cell"><span>22</span> jul</div>
    <div class="carousel-cell"><span>24</span> jul</div>
    <div class="carousel-cell"><span>25</span> jul</div>
    <div class="carousel-cell"><span>26</span> jul</div>
    <div class="carousel-cell"><span>28</span> jul</div>
    <div class="carousel-cell"><span>29</span> jul</div>
    <div class="carousel-cell"><span>01</span> aug</div>
    <div class="carousel-cell"><span>03</span> aug</div>
    <div class="carousel-cell"><span>07</span> aug</div>
    <div class="carousel-cell"><span>08</span> aug</div>
  </div>
</footer>
