<footer>
  <div class="date-nav" data-flickity='{ "groupCells": true }'>
    <div class="carousel-divider"><span>2012</span></div>
    <div class="carousel-cell"><a href=""><span>02</span> dec</a></div>
    <div class="carousel-divider"><span>2018</span></div>
    <div class="carousel-cell"><a href=""><span>14</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>15</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>16</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>17</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>18</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>19</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>22</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>23</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>26</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>27</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>29</span> jun</a></div>
    <div class="carousel-cell"><a href=""><span>02</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>05</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>06</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>07</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>09</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>14</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>17</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>18</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>19</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>20</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>22</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>24</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>25</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>26</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>28</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>29</span> jul</a></div>
    <div class="carousel-cell"><a href=""><span>01</span> aug</a></div>
    <div class="carousel-cell"><a href=""><span>03</span> aug</a></div>
    <div class="carousel-cell"><a href=""><span>07</span> aug</a></div>
    <div class="carousel-cell"><a href=""><span>08</span> aug</a></div>

    <div class="carousel-cell"><span>14</span> abc</div>
    <div class="carousel-cell"><span>15</span> abc</div>
    <div class="carousel-cell"><span>16</span> abc</div>
    <div class="carousel-cell"><span>17</span> abc</div>
    <div class="carousel-cell"><span>18</span> abc</div>
    <div class="carousel-cell"><span>19</span> abc</div>
    <div class="carousel-cell"><span>22</span> abc</div>
    <div class="carousel-cell"><span>23</span> abc</div>
    <div class="carousel-cell"><span>26</span> abc</div>
    <div class="carousel-cell"><span>27</span> abc</div>
    <div class="carousel-cell"><span>29</span> abc</div>
    <div class="carousel-cell"><span>02</span> abc</div>
    <div class="carousel-cell"><span>05</span> abc</div>
    <div class="carousel-cell"><span>06</span> abc</div>
    <div class="carousel-cell"><span>07</span> abc</div>
    <div class="carousel-cell"><span>09</span> abc</div>
    <div class="carousel-cell"><span>14</span> abc</div>
    <div class="carousel-cell"><span>17</span> abc</div>
    <div class="carousel-cell"><span>18</span> abc</div>
    <div class="carousel-cell"><span>19</span> abc</div>
    <div class="carousel-cell"><span>20</span> abc</div>
    <div class="carousel-cell"><span>22</span> abc</div>
    <div class="carousel-cell"><span>24</span> abc</div>
    <div class="carousel-cell"><span>25</span> abc</div>
    <div class="carousel-cell"><span>26</span> abc</div>
    <div class="carousel-cell"><span>28</span> abc</div>
    <div class="carousel-cell"><span>29</span> abc</div>
    <div class="carousel-cell"><span>01</span> abc</div>
    <div class="carousel-cell"><span>03</span> abc</div>
    <div class="carousel-cell"><span>07</span> abc</div>
    <div class="carousel-cell"><span>08</span> abc</div>
  </div>
</footer>
