<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/main.css" />
  <script type="text/javascript" src="js/flickity/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <title>title</title>
</head>
