<header class="">
  <div class="menu">
    <a href="" id="menuButton">Menu</a>
  </div>
  <div class="left-col">
    <% include countrySelect %>
  </div>
  <div class="middle-col">
    <div>
      <h1>WorldCup2018.com</h1>
    </div>
  </div>
  <div class="right-col">
    <% include timezoneSelect %>
  </div>
</header>
