<header>
  <div class="left-col"></div>
  <div class="middle-col">
    <h1>WorldCup2018.com</h1>
  </div>
  <div class="right-col">
      <!-- <label for="ctl00$ContentPlaceHolder1$ddlTimezones">Your Timezone</label>
      <% include timezoneSelect %> -->
  </div>
</header>
