.ie, .safari{
  header{

    .right-col, .left-col{
      div{
        select{
          background: $primary-color;
          color: #fff;
        }
      }
    }


    .middle-col{
      border-top: 80px solid lighten($primary-color, 6%);
      &::before{
        background:none;
      }
    }
  }

  .story-page{
    article{
      .story-match{
        width: 100%;
        box-sizing: border-box;
        div{
          display: inline-block;
          vertical-align: top;
          width: 300px;
          background:none;
        }
        .match-details{
          display: inline-block;
          vertical-align: top;
          float:right;
          li{
            display: inline-block;
            vertical-align: top;
            padding:5px 10px;
            span{
              display:inline-block;
              padding:6px 5px;
            }
          }
        }
      }
      .story-watch{
        .channel-picker{
          display: inline-block;
          box-sizing: border-box;
          width:100%;

        }
        ul{
          display: inline-block;
          box-sizing: border-box;
          width:100%;
        }
      }

      .story-videos, .story-links{
        li{
          a{
            display: table;
            div{
              display:table-cell;
              vertical-align: top;
            }
          }
        }
        img{
          margin-right: 10px;
        }
      }
    }
  }

  .home{
    section{
      .date-label{
        h2{
          display:table;
          span{
            display: table-cell;
            width: 70%;
          }
          span:nth-child(2){
            width: 30%;
          }
        }
      }

      .match, .result{
        a{
          h3{
            display: table;
            span{
              display: table-cell;
              width: 145px;
            }
            span:nth-child(2){
              width: 80px;
            }
          }
        }

        .article-content{
          .goals{
            display: block;
            li{
              display: block;
              text-align: left;
              span{
                display:inline-block;
                padding: 0 5px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}


@media all and (min-width: 769px) {
  .ie, .safari{
    header{
      width:100%; //IE-fix
      display: table; //IE-fix


      > div{
        display:table-cell;
      }

      > div:nth-child(2), > div:nth-child(4){
        width:25%;
      }

      > div:nth-child(3){
        width:50%;
      }
    }
  }
}


@media all and (max-width: 1024px) {
  .ie, .safari{
    .story-page{
      article{
        .story-match{
          div{
            box-sizing: border-box;
            display: block;
            width:100%;
            padding:5px;
            padding-bottom:10px;
            background:#eee;
          }
          .match-details{
            display: block;
            float:none;
            li{
              display: block;
              font-size: 1em;
              span{
                font-size:0.8em;
              }
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 768px) {
  .ie, .safari{
    header{

      width:100%; //IE-fix
      display:block;; //IE-fix

      > div {
        display:block;
        width:100%;
      }


      .right-col{
        margin-top:-120px;
      }

      .middle-col{
        margin-top:45px;
      }

      h1{
        background:none;
      }

      div.menu{
        position:absolute;
        top:75px;
        left:0;
        width:80px;
      }

      &.closed{ //TEMPORARY

        div.menu{
          top:5px;
        }
      }
    }

    .story-page{
      article{
        .story-videos, .story-links{
          img{
            max-width:80px;
          }
        }
      }
    }
  }
}
