$small: 1em;
$smaller: $small * 0.8;
$x-small: $small * 0.7;
$medium: 1.2 * $small;
$large: 1.5 * $small;
$x-large: 2 * $small;

$single-margin: 5px;
$double-margin: $single-margin * 2;
$triple-margin: $single-margin * 3;
