@import 'reset';
@import 'units';
@import 'typography';
@import 'colors';
@import 'flags';
@import 'footer';

html{
  background: url(../img/bg01.jpg) top center;
  background-size: contain;
}

body{
  background: rgba(0,0,0,0.4);
  font-family: $primary-font;
  &.home{
  background-image:
    linear-gradient(90deg, transparent 49.9%, #ccc 49.9%, #ccc 50.1%, transparent 50.1% );
  }
}

.content{
  padding-bottom:70px;
}

header{
  $highlight: lighten($dark-green, 3%);
  background-color: $dark-green ;
  background-image:
  linear-gradient(180deg, $highlight 58%, $dark-green 58%, $dark-green 98%, transparent 98%),
  linear-gradient(180deg,transparent 98%, rgba(0,0,0,0.3) 98%, transparent 100%);
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 420px 1fr;
  margin-top:-10px;
  margin-bottom:40px;

  .left-col, .right-col{
    padding-top:10px;
  }

  .left-col{
  text-align: center;

    .country-filter{

      label{
        color:$white;
      }

      i{
        display:inline-block;
        vertical-align: middle;
        height:20px;
        width:25px;
        background:#f00;
        &.eng{ //TODO: create MIXIN
          background: url(../img/flags/eng.png) left center no-repeat;
        }
        &.rus{
          background: url(../img/flags/rus.png) left center no-repeat;
        }
        &.ksa{
          background: url(../img/flags/ksa.png) left center no-repeat;
        }
        &.any{
          background: url(../img/flags/wc2018.png) left center no-repeat;
        }
      }
    }
  }

  .middle-col{
      $bg-color: $light-green;
      $bg-color2: darken($light-green, 4%);
      color: $white;
      font-size: $x-large;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      line-height: 70px;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      width: 390px;
      height: 0;
      border: 15px solid rgba(0,0,0,0);
      border-bottom: 0 solid;
      border-top: 80px solid $dark-green;
      -o-text-overflow: clip;
      text-overflow: clip;

      div{
        margin: -70px -15px 0 -15px;
        background: url(../img/logo_back.png) top center no-repeat;
        h1 {
          text-shadow: -1px 0 0 $black;
        }
      }
  }

  .right-col{

    .timezone-select{
      label{
        color:$white;
      }
    }
  }
}

.home {

  hr {display:none;}

  section{
    text-align:center;
    margin: 35px $single-margin;

    .date-label{
      width:150px;
      line-height:20px;
      text-align:left;
      background:$black;
      color:$white;
      margin:auto;
      font-weight:bold;
      text-transform: uppercase;
      border:1px solid #ccc;

      h2{
        display: grid;
        grid-template-columns: 1fr auto;

        span {
          padding: $single-margin;
        }

        span:nth-child(2){
          background:$grey;
          color: $black;
          text-align: right;
        }
      }


    }

    @media screen and (max-width: 1157px) {

    }

    @media screen and (max-width: 772px) {

    }

    @media screen and (min-width: 1158px) {
      .match:not(:last-child) .article-content,
      .result:not(:last-child) .article-content,
      .story:not(:last-child) .article-content{ //needs updated per breakpoint

        &::after{
          content: '';
          width:34px;
          height:2px;
          background:#ccc;
          position: absolute;
          right: -34px;
          top: 50%;
        }
      }
    }

    .story{
      width:370px;
      margin: $triple-margin $single-margin;
      display:inline-block;
      vertical-align: middle;

      &.noimg .article-content{
        background-image:
        linear-gradient(90deg, rgb(235, 141, 0) 14%, transparent 14%);
        padding: 0 15px 0 65px;
      }

      &.noimg .article-content::before{
        content: '';
        display:block;
        width:16px;
        height:19px;
        float:left;
        margin-left: -51px;
        margin-top: 12px;
        border: 3px solid #fff;
        background-image:
        linear-gradient(0deg,
        $white 13%, transparent 13%, transparent 23%, $white 23%,
        $white 36%, transparent 36%, transparent 47%, $white 47%,
        $white 60%, transparent 60%, transparent 70%, $white 70%,
        $white 85%, transparent 85%, transparent 95%, $white 95%),
        linear-gradient(-55deg, $white 15%, transparent 15%);
      }

      .article-content{
        padding: 0 15px 0 135px;
        text-align: left;
        position:relative;

        .img-holder {
          width:120px;
          height: 100%;
          position: absolute;
          top:0;
          left:0;
          overflow: hidden;

          img{
            max-height: 100%;
          }
        }

        h3{
          font-weight: 700;
          font-size: 18px;
          padding: $triple-margin 0;
          a{
            text-decoration: none;
            color: $black;
          }
        }

        p{
          font-size: $smaller;
          line-height: 18px;
          padding-bottom:20px;
        }
      }

      .article-content{ //TODO: merge with match article-content
        background:$white;
        box-shadow: 2px 2px #aaa;
        margin: 0 $double-margin;
        position:relative;

        .tags{
          position:absolute;
          bottom: -10px;
          right: 10px;
          li{
            color: $white;
            display: inline-block;
            padding: 7px 10px;
            font-weight: bold;
            font-size: $smaller;
            text-transform: uppercase;
          }
        }
      }
    }

    .match, .result{
      // background: rgba(255,0,0,0.5);
      width:370px;
      margin: $triple-margin $single-margin;
      display:inline-block;
      vertical-align: middle;

      h3{
        height:44px;

        a{
          display: grid;
          grid-template-columns: 1fr 80px 1fr;
          text-transform: uppercase;
          text-decoration: none;
          height:100%;
          color: $white;
          font-weight:900;
          font-size: $medium;
          vertical-align: middle;
          position:relative;
        }

        .left, .right{
          box-sizing: border-box;
          height:100%;
          border: 1px solid #222;
          line-height:40px;
          position:relative;

          span{
            position:absolute;
            width:120px;
            top:55px;
            left: 0;
            color:#333;
            z-index: 2;
            font-size: $smaller;
            line-height:normal;
            word-break: break-all;
          }

        }

        .left{
          border-right:none;
          text-align:left;
          &.winner::after{
            content:'';
            display:block;
            width:28px;
            height:22px;
            background: url(../img/icon-cup.png) no-repeat center;
            position:absolute;
            top: 10px;
            right: 15px;
          }

          span{
            text-align: left;
            margin-left:25px;
          }
        }

        .vs{
          visibility: hidden;

          &::after{
            content: 'vs';
            visibility: visible;
            display:block;
            width:80px;
            height:40px;
            position: absolute;
            top:60px;
            left:50%;
            margin-left:-40px;
            text-align:center;
            color:#444;
            z-index:2;
            font-size: $x-small;
          }
        }

        .right{
          background-color: #0f0;
          border-left:none;
          text-align:right;
          &.winner::after{
            content:'';
            display:block;
            width:28px;
            height:22px;
            background: url(../img/icon-cup.png) no-repeat center;
            position:absolute;
            top: 10px;
            left: 15px;
          }
          span{
            text-align: right;
          }
        }
      }

      .kickoff, .score {
        position:relative;
        z-index: 1;
        background: $light-grey;
        height:36px;
        width: 80px;
        padding-top:8px;
        margin: -45px auto 0 auto;
        border: 1px solid #222;
        border-left: 5px solid #222;
        border-right: 5px solid #222;
        font-weight: 900;

        a{
          text-transform: uppercase;
          text-decoration: none;
          color: $black;
        }

        .timezone{
          display:block;
          font-size: $x-small;
        }
      }

      .score{
        font-size: $large;
        height:34px;
        padding-top:10px;
      }

      .article-content{
        background:$white;
        box-shadow: 2px 2px #aaa;
        margin: -1px $double-margin 0 $double-margin;
        padding-top: 36px;
        padding-bottom: 25px;
        position:relative;

        h4{
          span{
            font-weight:bold;
            display: block;
            margin: 10px 10px 0 10px ;
            padding: $double-margin 0;
            background:#eee;
          }

          a{
            display: block;
            padding: 10px 0;
            margin: 0 10px $double-margin 10px;
            border: 1px solid #eee;
            color:#333;

          }
        }

        .tags{
          position:absolute;
          bottom: -10px;
          right: 10px;
          li{
            color: $white;
            display: inline-block;
            padding: 7px 10px;
            font-weight: bold;
            font-size: $smaller;
          }
        }

        h4{
          font-weight:bold;
          margin:7px 5px 10px 5px;

          &.add-info{
            margin:7px 6px 0 6px;
            padding: 10px 5px;
            background: #eee;

            &.ury{
              border:2px solid #07a1ab;
              // border-left:none;
              // border-right:none;
            }
          }
        }

        .goals{
          margin:5px;
          margin-top: 1px;
          display:grid;
          grid-template-columns: 50% 50%;
          grid-auto-flow: column;


          li{
            background:#eee;
            margin:1px;
            display: grid;
            grid-template-columns: 42px 1fr;
            font-size: $smaller;
            height:25px;
            line-height:25px;
            overflow:hidden;

            &.teamL{
              grid-column-end: 2;
            }
            &.teamR{
              grid-column-start: 2;
            }

            span{
              background:#444;
              color:$white;
              border-right:3px solid #ddd;

            }
            &.rus span{
              border-color: #c21111;
            }

            &.ury span{
              border-color: #30d2c4;
            }
          }
        }
      }
    }
  }
}

.story-page{
  nav{
    padding: 10px;
    background: lighten($dark-green, 4%);

    a{
      text-decoration: none;
      color: $white;
      font-weight: bold;
    }
  }

  article{
    text-align: left;
    margin:50px 200px; //TODO: change per breakpoint

    section{
      background: $white;
      padding:30px;
    }

    .story-box{
      margin-bottom:30px;
    }

    .story-videos, .story-links{
      h3{ //TODO: refactor common aspects of story boxes
        font-size: $large;
        font-weight: bold;
      }

      img{
        max-width: 120px;
      }

      ul li{
        background:#eee;
        padding:5px;
        margin-top: 10px;

        a{
          display:grid;
          grid-template-columns: 130px 1fr;
          text-decoration: none;
          color:#333;
        }

        img{
          vertical-align: middle;
        }
        h4{
          font-size: $medium;
          font-weight:bold;
          margin:10px 0;
        }
        h5{
          color:#666;
        }
      }
    }

    .story-match{
      margin-bottom:0;
      display: grid;
      grid-template-columns: 1fr 400px;

      div{
        background:#eee;
        h1{
          font-size:$medium;
          font-weight: bold;
          margin: 5px 0 2px 5px;
        }
        a{
          margin: 0 0 0 5px;
          font-size:$smaller;
        }
      }

      .match-details{
        display: grid;
        grid-template-columns: 45% 20% 35%;


        li{
          color:$white;
          font-weight:bold;
          padding:5px;
          text-align: center;
          font-size:$large;
        }

        li:nth-child(1){
          background:#333;
          line-height: $large;
        }
        li:nth-child(2){
          background:#444;
          font-weight:normal;
          font-size:$small;
          span{
            font-size:$large;
            font-weight:bold;
          }
        }
        li:nth-child(3){
          background:#0071BC;
          line-height: $large;
        }
      }
    }

    .story-fixture{

      padding-top:0;

      > img{
        width: 100%;
        height: auto;
        margin-bottom:20px;
      }

      .hero-img {
          width: 100%; /* or whatever is required */
          text-align: center; /* ensures the image is always in the h-middle */
          overflow: hidden; /* hide the cropped portion */
          margin-bottom:20px;

          img {
            position: relative; /* allows repositioning */
            left: 100%; /* move the whole width of the image to the right */
            margin-left: -200%; /* magic! */
          }

          &.clip-200{
            height:200px;
            img{
              transform: translateY(-50%);
              top:100px;
            }
          }

          &.clip-400{
            height:400px;
            img{
              transform: translateY(-50%);
              top:200px;
            }
          }
      }


      h3{
        font-size: $medium;
        font-weight:bold;
      }

      p{
        margin: 10px 0;
        line-height: normal;
      }
    }

    .story-tags{
      background: none;
      padding: 30px 10px;
      margin-top:-80px;
      margin-bottom: -5px;
      text-align:right;

      li{
        color: $white;
        display: inline-block;
        padding: 7px 10px;
        font-weight: bold;
        font-size: $smaller;
        text-transform: uppercase;

        a{
          color:$white;
          text-decoration:none;
        }
      }
    }

    .story-watch{
      padding: 5px;
      display: grid;
      grid-template-columns: 350px 1fr;
      grid-gap: 5px;

      .channel-picker{
        background:#444;
        color:$white;
        padding:20px;
        display: inline-block;
        min-height:100px;

        p{
          margin:10px 0;
        }

        h3{
          font-size: $x-large;
          font-weight:bold;
        }


      }
      > ul{
        display:inline-block;
        vertical-align: top;

        li{

          h4{
            background:#555;
            color: $white;
            display:block;
            font-weight: bold;
            font-size: $medium;
            padding:5px;
          }
          ul li{
            background: #ddd;
            padding:5px;
            margin-top: 5px;
            i{
              display: inline-block;
              width:30px;
              height:20px;
              vertical-align: middle;
              margin-right:5px;
              background: url(http://via.placeholder.com/30x20) left center no-repeat;
            }
          }
        }
      }

      .hide{
        display:none;
      }
    }

    .story-related{
      margin-bottom:0;
      h3{
        font-size: $medium;
        font-weight:bold;
        margin-bottom: 10px;
      }
      ul li{
        padding: 10px;

        &:nth-child(odd){
          background:#eee;
        }

        a{
          display:inline-block;
          width:250px;
        }
        span{

        }
      }
    }
  }
}

@media screen and (min-width: 1158px) {
  header{
    .right-col, .left-col{
      div{
        select{
          background:none;
          border:none;
          color:#fff;
          font-size: $small;
          width: 200px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px){
  header{

    .right-col, .left-col{
      div{
          text-align:center;
          margin: 18px 0 0 0;
      }
    }
    .middle-col{
      &::before{
        content: '';
        width:450px;
        height:60px;
        position: absolute;
        top:0;
        left: 50%;
        margin-left:-225px;
        background-image:
        linear-gradient(80deg,transparent 3%, rgba(0,0,0,0.3) 6%, transparent 6%),
        linear-gradient(100deg,transparent 94%, rgba(0,0,0,0.3) 94%, transparent 96%);
      }
    }
    .menu{
      display:none;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1157px) {
  header{
    .right-col{
      .timezone-select{
        label{
          display:none;
        }
        select{
          width:85%;
        }
        &::before{
          content: '';
          display: inline-block;
          width:20px;
          height: 20px;
          background: darken($dark-green, 5%);
          vertical-align: middle;
        }
      }
    }
    .left-col{
      .country-filter{
        label{
          display:none;
        }
        select{
          width:65%;
        }
        &::before{
          content: '';
          display: inline-block;
          width:20px;
          height: 20px;
          background: darken($dark-green, 5%);
          vertical-align: middle;
        }
      }
    }
    .left-col, .right-col{
      div{
        select{
          background: darken($dark-green, 4%);
          border:1px solid darken($dark-green, 8%);
          color:#fff;
        }
      }

    }
  }
}

@media screen and (max-width: 768px) {

  .left-col { grid-area: left; }
  .right-col { grid-area: right; }
  .menu { grid-area: menu; }
  .middle-col { grid-area: middle; }

  header{
    grid-template-areas: "left"
                          "right"
                          "menu"
	                       "middle";
    grid-template-columns: 100%;
    grid-template-rows: 40px 40px 20px 80px;
    margin-bottom:120px;

    &.closed{
      margin-top:-80px;
    }

    .left-col{
      padding-top:15px;
      div select{
        width: 60%;
      }
    }

    .right-col{
      padding-top:5px;
      padding-bottom:5px;
      div select{
        width: 64%;
      }
      border-bottom: 5px solid #35a45b;
    }

    .left-col , .right-col {
      background: $dark-green;
      div {
        text-align: left;
        label{
          display: inline-block;
          width:120px;
          text-align: right;
          margin-top:5px;
          margin-right: 5px;
        }
      }
    }

    .middle-col{
      width:100%;
      border:0;

      width: 390px;
      height: 0;
      border: 15px solid rgba(0,0,0,0);
      border-bottom: 0 solid;
      border-top: 70px solid $dark-green;
      -o-text-overflow: clip;
      text-overflow: clip;
      margin: 0 auto;
      margin-top:-20px;

      h1{
        margin-top:-70px;
      }
    }

    .menu{
      display: block;
      background: $dark-green;
      a{
        font-size:$smaller;
        color:$white;
        line-height:20px;
        margin-left: 5px;
      }
    }

  }
}
