<!DOCTYPE html>
<html>
  <% include _partials/head %>
  <body class="story">
    <form method="post" action="" id="form1">
      <div id="wrapper">
        <% include _partials/header %>
        <div class="content story-page">
          <% include _partials/storyMock %>
        </div>
      </div>
    </form>
    <% include _partials/scripts %>
  </body>
</html>
