<!DOCTYPE html>
<html>
  <% include _partials/head %>
  <body>
    <form method="post" action="" id="form1">
      <div id="wrapper">
        <% include _partials/header %>
        <div class="content home">
          <% include _partials/articlesMock %>
        </div>
      </div>
    </form>
  <% include _partials/footer %>
  </body>
</html>
