<!DOCTYPE html>
<html>
  <% include _partials/head %>
  <body class="home">
    <form method="post" action="" id="form1">
      <div id="wrapper">
        <% include _partials/header %>
        <div class="content home">
          <% include _partials/articlesMock %>
        </div>
      </div>
      <div class="text-line">
        <p>Copyright &copy; 2018 <a href="">[Scott/Dashboard?]</a> </p>
        <p>Photo by Peters, Hans / Anefo (<a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>)</p>
        <p> Web design by <a href="http://hardcandydesign.com/">hardcandydesign.com</a></p>
      </div>
    </form>
  <% include _partials/footer %>
  <% include _partials/scripts %>
  </body>
</html>
